<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Courses</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>
<div class="container">

    <div th:if="${#lists.isEmpty(professors)}">
        <div class="jumbotron">
            <div class="row text-center">
                <div class="row">
                    <h2>No data</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div role="alert" data-th-if="${message}" data-th-text="${message}" data-th-class="${classCss}"></div>
    </div>
    <div th:if="${not #lists.isEmpty(professors)}">
        <h2>All Professors</h2>
        <table class="table table-responsive-sm">
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Courses</th>
                <th>Edit</th>
                <th>Delete</th>

            <tr th:each="professor : ${professors}">

                <td th:text="${professor.id}">Id</td>
                <td th:text="${professor.firstName}"></td>
                <td th:text="${professor.lastName}"></td>
                <td th:text="${professor.courses.name}"></td>
                <!--                <td>-->
                <!--                    <div th:each="list : ${courseList}"-->
                <!--                         th:text="${list.name}"></div>-->
                <!--                </td>-->


                <td><a th:href="${'/professors/edit/' + professor.id}" class="btn btn-default">Edit</a></td>
                <td><a th:href="${'/professor/delete/' + professor.id}" class="btn btn-danger">Delete</a></td>
            </tr>

        </table>
    </div>
</div>
<th:block th:include="layout/footer"></th:block>
</body>
</html>